<div class="container">
  <h1 class="text-primary">App Component</h1>
  <div class="row">
    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
      <data-binding></data-binding>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <event-binding></event-binding>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="panel panel-info">
        <div class="panel panel-heading">
          <h3>
            Two-way-Binding
          </h3>
        </div>
        <div class="panel panel-body">
          <two-way-binding></two-way-binding>
        </div>
      </div>
    </div>
  </div>
</div>
